.outer{
    margin-top: 5vh;
    padding-top: 50px;
    padding-bottom: 50px;
}
/*mb-4 text-center font-sans text-5xl font-bold text-gray-800*/
.outer h1{
    margin: 5px auto;
    text-align: center;
    font-family: sans-serif;
    color: silver;
    font-weight: bold;
}
.outer p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    padding: 10px 10%;
}
.outer span{
    color: slategray;
    font-weight: 600;
}
.outer .grd{
    padding: 20px 15%;
    align-items: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}