.card{
    background: white;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    margin-bottom: 15px;
    
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.inside{
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    border-radius: 10px;
}
.inside img{
    margin: 25px 0 8% 8%;
    height: 200px;
    width: 250px;
    border: 2px solid black;
    border-radius: 10px;
}
.det h2{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
    font-size: 20px;
    margin-left: 30px;
    display: flex;
    justify-content: between;
    color: rgb(88, 104, 121);
    font-weight: bold;
}
.det p{
    margin-top: -5px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: slategray;
    display: flex;
    align-items: flex-end;
    justify-content: between;
}

