.blog {
    margin-top: 10vh;
    padding: 30px 5%;
    height: 90vh;
    background-color: #ffffff;
    scroll-margin-top: 10vh;
    color: black;
}
.blog-content{
    padding-top: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	grid-gap: .5rem;
	align-items: center;
	cursor: pointer;
}
.box img{
	max-width: 95%;
	width: 300px;
	height: auto;
	border-radius: 10px;
	margin-bottom: 20px;
	transition: all .3s;
}
.box p{
	color: #285961;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
	text-align: center;
	font-weight: bold;
}
.box h5{
	color: #5c3d3d;
	font-size: 15px;
	font-weight: 200;
	text-align: center;
	font-weight: 500;
}
.box img:hover{
	transform: scale(1.1);
}