.btn{
    color: white;
    font-weight: bold;
	font-size: 1.02rem;
    background: transparent;
    border-radius: 10px;
    border: solid 2px;
    transition: .3s;
    text-transform: uppercase;
}
.btn:hover{
	background: transparent;
    transform: translateY(-5px);
    border-color: white;
    color: white;
}