.btn{
    color: white;
    font-weight: bold;
	font-size: 1.02rem;
    background: transparent;
    border-radius: 10px;
    border: solid 2px;
    transition: .3s;
    text-transform: uppercase;
}
.btn:hover{
	background: transparent;
    transform: translateY(-5px);
    border-color: white;
    color: white;
}
.ip{
    background: linear-gradient(rgba(141, 39, 174, 0.3), rgba(141, 39, 174, 0.5)), url("../../imgs/banner4.jpg") center/cover no-repeat;
    opacity: 100%;
    padding: 10px 0%;
}