.Main{
    margin-top: 10vh;
    height: 90vh;
    background: linear-gradient(rgba(141, 39, 174, 0.3), rgba(141, 39, 174, 0.5)), url("../../imgs/banner6.jpg") center/cover no-repeat;
    flex-direction: column;
}