.main{
    height: 100vh;
}
.main h2{
    font-size: 4.2rem;
    justify-content: center;
    padding: 15% 10%;
}
.main p{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}