.sign{
    margin-top: 0;
    height: 100vh;
    padding-top: 15vh;
    background: linear-gradient( rgba(59, 41, 65, 0.5), rgba(54, 47, 56, 0.3)), url("../../imgs/banner6.jpg") center/cover no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.grid{
    padding: 0 10%;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    grid-gap: 100px; 
}
.obj{ 
    border-radius: 20px;
    background-color: transparent;
    justify-content: center;
    display: flex;
    align-items: center;
    height: auto;
}
.obj h1{
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 20px;
}
.obj img{ 
    width: 500px;
    height: 600px;
    border-radius: 20px;
}
.box{
    background-color: #fff;
    height: 50px;
    width: 500px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
@media all and (min-width: 670px){
    .container{
      width: 100%;
    }
    .grid{
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: min-content;
      grid-gap: 10px;
    }
  }
  
@media all and (min-width:1000px){
  .grid{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

/*responsive*/
@media screen and (max-width: 1080px){
    .sign{
        padding-top: 10vh;
    }
    .obj h1{
        font-size: 2.5rem;
    }
    .obj img{
        height: auto;
        width: auto;
    }
    .box{
        width: 400px;
    }
}
@media screen and (max-width: 980px){
    .sign{
        padding-top: 10vh;
    }
    .obj h1{
        font-size: 2.5rem;
    }
    .obj img{
        height: auto;
        width: auto;
    }
}
@media screen and (max-width: 768px){
    .sign{
        height: auto;
        padding-top: 10vh;
    }
    .obj h1{
        font-size: 2.5rem;
    }
    .obj img{
        height: auto;
        width: auto;
    }
}
@media screen and (max-width: 670px){
    .sign{
        padding-top: 10vh;
    }
    .obj h1{
        font-size: 2.5rem;
    }
    .obj img{
        height: 500px;
    }
}
@media screen and (max-height: 706px){
    .sign{
        padding-top: 10vh;
    }
    .obj h1{
        font-size: 2.5rem;
    }
    .obj img{
        height: 500px;
    }
}