.sign{
    margin-top: 0;
    height: 100vh;
    padding-top: 15vh;
    background: linear-gradient( rgba(59, 41, 65, 0.5), rgba(54, 47, 56, 0.3)), url("../../imgs/banner6.jpg") center/cover no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.grid{
    padding: 0 10%;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    grid-gap: 100px; 
}
.obj{ 
    border-radius: 20px;
    background-color: transparent;
    justify-content: center;
    display: flex;
    align-items: center;
    height: auto;
}
.obj h1{
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 20px;
}
.obj img{ 
    width: auto;
    height: 600px;
    border-radius: 20px;
}