.booki{
    margin-top: 0;
    height: auto;
    padding-top: 5vh;
    background: linear-gradient( rgba(59, 41, 65, 0.5), rgba(54, 47, 56, 0.3)), url("../../imgs/banner6.jpg") center/cover no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 5vh;
}
.gridt{
    padding: 0 10%;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    grid-gap: 100px; 
}
.objct{ 
    border-radius: 20px;
    background-color: transparent;
    justify-content: center;
    display: flex;
    align-items: center;
    height: auto;
}
.objct h1{
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 20px;
}
.objct img{ 
    width: 500px;
    height: 600px;
    border-radius: 20px;
}
.boxg{
    background-color: #fff;
    height: 50px;
    width: 550px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
@media all and (min-width: 670px){
    .gridt{
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: min-content;
      grid-gap: 10px;
    }
}

@media all and (min-width:1000px){
  .gridt{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

/*responsive*/
@media screen and (max-width: 1080px){
    .book{
        padding-top: 10vh;
    }
    .objct h1{
        font-size: 2.5rem;
    }
    .objct img{
        height: auto;
        width: auto;
    }
    .boxg{
        width: 400px;
    }
}
@media screen and (max-width: 980px){
    .book{
        padding-top: 10vh;
    }
    .objct h1{
        font-size: 2.5rem;
    }
    .objct img{
        height: auto;
        width: auto;
    }
}
@media screen and (max-width: 768px){
    .book{
        height: auto;
        padding-top: 10vh;
    }
    .objct h1{
        font-size: 2.5rem;
    }
    .objct img{
        height: auto;
        width: auto;
    }
}
@media screen and (max-width: 670px){
    .book{
        padding-top: 10vh;
    }
    .objct h1{
        font-size: 2.5rem;
    }
    .objct img{
        height: 500px;
    }
}
@media screen and (max-height: 706px){
    .book{
        padding-top: 10vh;
    }
    .objct h1{
        font-size: 2.5rem;
    }
    .objct img{
        height: 500px;
    }
}