.Header{
 	background: linear-gradient(rgba(141, 39, 174, 0.3), rgba(141, 39, 174, 0.5));
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
	position: fixed;
	width: 100%;
    height: 10vh;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 9%;
	transition: ease .4s;
}
.Header img{
	border: 2px solid rgb(255, 255, 255);
	transition: all .4s;
}
.Header img:hover{
	transform: scale(1.1);
}
.navbar{
	text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.navbar a{
    position: relative;
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 1.02rem;
	text-emphasis-color: black;
	padding: 10px 20px;
}
.navbar a::after{
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background-color: rgb(255, 255, 255);
	left: 0;
	bottom: 2px;
	transition: ease .4s;
}
.navbar a:hover:after{
	width: 100%;
}
.sticky {
	top: -10px;
	padding: 0px 9%;
	background:rgb(28, 228, 228);
	transition: ease .4s;
}
.sticky .navbar a{
	color: rgba(255, 0, 0, 0.644);
	font-weight: 750;
}
.sticky .navbar a::after{
	background-color: rgba(255, 0, 0, 0.644);
} 